#calculator {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.section {
    margin-top: 10px;
    width: 300px;
}

#display {
    background-color: beige;
    height: 150px;
}

#buttons {
    display: flex;
    height: 300px;
    justify-content: space-around;
}

button {
    height: 50px;
    width: 50px;
}